* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  padding: 2rem;
  box-sizing: border-box; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right, rgba(0, 102, 255, 0.2), rgba(255, 255, 255, 0.5)), url("../img/bg-1.png");
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%); }

.heading {
  color: #000;
  position: absolute;
  top: 40%;
  right: 50%;
  transform: translate(50%, -50%); }

.heading-main {
  color: darker(rgba(0, 102, 255, 0.2), 5%);
  display: block;
  letter-spacing: 2.2rem;
  font-size: 7rem;
  font-weight: 500; }

.heading-sub {
  display: block;
  letter-spacing: 0.6rem;
  font-size: 4rem;
  font-weight: 300; }
  .heading-sub:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1); }
