* {
   margin: 0;
   padding: 0;
}

html {
   font-size: 62.5%;
}

body {
   box-sizing: border-box;
}

.home {
   height: 100vh;
   background-image: url("../img/background.jpg");
   background-size: cover;
   background-position: bottom;
   position: relative;
}

.triangle{
   /* position: relative; */
}


.triangle-bottom img{
   position: absolute;
   height: 200px;
   left: 40%;
   top: 40%;
   z-index: 10;
}

.triangle-top img{
   position: absolute;
   height: 200px;
   left: 40%;
   top: 40%;
}

.triangle-bottom:hover > .triangle-top:after {
   opacity: 0;
   transform: translateX(-50%) translateY(10px);
}

.triangle-bottom:hover > .triangle-top:before {
   opacity: 0.8;
   transform: translateX(-50%);
}

.triangle-bottom > .triangle-top > .triangle-top {
   display: block;
   font-size: 12px;
}